* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ff5b2e;
    --heading-color: #000958;
}

html {
    font-size: 62.5%;
}

body {
    height: 8000px;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* ========= Common ========= */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn-view {
    height: 56px;
    color: var(--primary-color);
    font-weight: 500;
    border-radius: 31px;
    border: 1px solid var(--primary-color);
    background: transparent;
}

.btn-view:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading {
    color: var(--heading-color);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    font-weight: 400;
    line-height: 1.87;
}

/* ========= Header ========= */
.header {
    padding-top: 20px;
}

.header.fixed {
    position: sticky;
    top: -20px;
    z-index: 99;
    background-color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
}

.navbar__list {
    display: flex;
    gap: 30px;
}

.navbar__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__item.active .navbar__link {
    color: var(--heading-color);
}

.header__btn {
    min-width: 117px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid rgb(0 9 88 / 70%);
    color: var(--heading-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

/* ========= Hero ========= */
.hero {
    padding-top: 94px;
}

.hero__inner {
    display: flex;
}

/* left */
.hero__left {
    position: relative;
    width: 48%;
    flex-shrink: 0;
}

.hero__wrap--large {
    position: relative;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    border: 3px solid #fff;
    background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.hero__img--large {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.hero__deco {
    position: absolute;
    z-index: -1;
}

.hero__deco--left {
    left: -57.99px;
    bottom: 9.53px;
}

.hero__deco--right {
    top: 16.66px;
    right: -39.5px;
}

.hero__wrap--small {
    position: absolute;
    bottom: 36px;
    right: 0;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: linear-gradient(220deg, #faa7ad 0%, #e87f8a 100%);
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

.hero__img--small {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.hero__list {
    position: absolute;
    bottom: 0;
    left: 171px;
    padding: 18px 14px;
    width: 250px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-item {
    display: flex;
    align-items: center;
}

.hero-item_title {
    margin-bottom: 7px;
    color: #181e52;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-item__img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fec23f;
}

.hero-item__line {
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-item__line--long {
    margin-bottom: 6px;
    width: 118px;
}
/* Card list */
.hero-item__line--sort {
    width: 39px;
}

.hero__list-line {
    margin: 20px 0;
    width: 222px;
    height: 2px;
    background: #f2f2f2;
}
/* ---------- */

/* Right */
.hero__right {
    padding: 77px 0 77px 121px;
    width: 52%;
}

.hero__heading {
    margin-bottom: 24px;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__action {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    min-width: 189px;
    height: 60px;
    border-radius: 31px;
    background: var(--primary-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__btn--icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: #fd5056;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #fffaf5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero-call {
    margin-left: 24px;
    color: #000958;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
}

/* ========= Hero ========= */
.about {
    margin-top: 77px;
    padding: 53px 0;
}

.about-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
    align-items: center;
}

/* Content Top */
.about__title {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: Sora, "sans-serif";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    width: 446px;
}

.about__desc {
    width: 431px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 34px 36px;
    margin-top: 54px;
}

.about__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__item::after {
    position: absolute;
    top: 2px;
    left: 4px;
    content: url(../icon/check.svg);
}

/* Media Top */
.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    padding: 31px 26px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
}

.about__card-title {
    color: #fff;
    font-family: Sora, "sans-serif";
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
}

.about__card-img {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__img-wrap {
    position: relative;
    margin-left: auto;
    width: 494px;
    height: 559px;
    border-radius: 16px;
}

.about__img-wrap::after {
    position: absolute;
    content: "";
    inset: 223px 0 0 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
    z-index: -1;
}

.about__img-top {
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 100%;
    object-fit: cover;
}

.about__img-deco {
    position: absolute;
    top: 157px;
    right: -45px;
    z-index: -1;
}

/* Media Bottom */
.about__img-wrap-bottom {
    margin-top: 16px;
    position: relative;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-bottom {
    width: 100%;
    object-fit: cover;
}

.about_deco-bottom {
    position: absolute;
}
.about_deco-bottom:nth-child(1) {
    top: 12px;
    right: 63px;
}
.about_deco-bottom:nth-child(2) {
    top: -16px;
    right: 13px;
}
.about_deco-bottom:nth-child(3) {
    top: 33px;
    right: -21px;
}
.about_deco-bottom:nth-child(4) {
    top: 268px;
    right: -33px;
}
.about_deco-bottom:nth-child(5) {
    right: 19px;
    bottom: 150px;
}
.about_deco-bottom:nth-child(6) {
    right: -45px;
    bottom: -57px;
}

/* Content Bottom */
.about__heading-bottom {
    margin-top: 52px;
}

.about__desc-bottom {
    margin-bottom: 52px;
    width: 511px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__list::after,
.tab_item--active::after {
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    content: "";
    display: block;
    height: 2px;
    opacity: 0.07;
    border-radius: 2px;
    background: var(--primary-color);
}

.tab_item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    flex-shrink: 0;
    cursor: pointer;
}

.tab_item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__icon {
    width: 20px;
    height: 20px;
}

.tab__title {
    color: #48496a;
    font-family: Sora, "sans-serif";
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__contents {
    margin-top: 46px;
}

.tab__content-item {
    display: none;
    width: 391px;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.tab__content-more {
    display: inline-block;
    margin-top: 32px;
    padding-bottom: 5px;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 1;
}

.tab__content-more::after {
    content: "";
    display: block;
    height: 1.5px;
    border-radius: 1.5px;
    background: #ff5d31;
}

/* ========= Services ========= */
.service {
    margin-top: 130px;
    padding: 68px 0 100px;
    background: #fff6ed;
}

.service_top {
    text-align: center;
}

.service_question {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-weight: 600;
}

.service_content {
    display: flex;
    justify-content: center;
    column-gap: 71px;
    margin-top: 31px;
}

.service_list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 25%;
    padding: 40px 0;
}

.service-item {
    width: 100%;
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service-item__title {
    position: relative;
    padding-left: 10px;
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__title::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 2px;
    height: 22px;
    border-radius: 2px;
    background: linear-gradient(63deg, var(--primary-color) 0%, #ffa187 100%);
}

.service-item__sub-title {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.service-item__more {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.service__box {
    width: 38%;
}

.service-img_wrap {
    position: relative;
    width: 100%;
    height: 650px;
    z-index: 1;
}

.service-img_wrap::after {
    position: absolute;
    inset: 300px 15px 0;
    content: "";
    display: block;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 100%);
    z-index: -1;
}

.service__img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.service__btn {
    display: block;
    margin: 45px auto 0;
    min-width: 214px;
}

/* ========= Services ========= */
.groomers {
    padding: 130px 0;
}

.groomers__top {
    text-align: center;
}

.groomers__title {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-weight: 600;
    line-height: 1;
}

/* List */
.groomers__list {
    display: flex;
    gap: 35px;
    margin-top: 59px;
}

.groomers-item {
    flex: 1;
}

.groomers-item_top {
    position: relative;
}

.groomers-item_wrap-avatar {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    width: 87%;
    border-radius: 130px;
    overflow: hidden;
}

.groomers-item_wrap-avatar::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 94%;
    border-radius: 130px;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    z-index: -1;
}

.groomers-item:nth-child(2) .groomers-item_wrap-avatar::after {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.groomers-item:nth-child(3) .groomers-item_wrap-avatar::after {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.groomers-item:nth-child(4) .groomers-item_wrap-avatar::after {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.groomers-item__avatar {
    width: 100%;
    object-fit: cover;
}

.groomers-item__deco {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.groomers-item:nth-child(even) .groomers-item__deco {
    top: 7%;
}

/* Info */
.groomers-item__info {
    margin-top: 29px;
    text-align: center;
}

.groomers-item__title {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.groomers-item__name {
    margin-top: 14px;
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

/* Button */
.groomers__btn {
    display: block;
    margin: 48px auto 0;
    min-width: 193px;
}

/* ========= Spricing ========= */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__top-wrap {
    text-align: center;
}

.pricing__desc {
    margin-left: auto;
    margin-right: auto;
    width: 709px;
}
/* Switch */
.pricing__switch-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    width: 276px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);
}

.pricing__switch-label::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    display: block;
    width: 131px;
    height: 100%;
    border-radius: inherit;
    background: var(--primary-color);
}

.pricing__switch-value {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    z-index: 1;
    user-select: none;
}

.pricing__switch-input:checked + .pricing__switch-label::after {
    width: 140px;
    left: 0;
    right: auto;
}

.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-child(2),
.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-child(1) {
    color: var(--primary-color);
}

.pricing__switch-inner {
    position: relative;
}

.pricing__sale-off {
    position: absolute;
    bottom: 29px;
    right: -113px;
}

/* Pricing list */
.pricing__list {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 44px;
}

.pricing__item {
    padding: 30px 28px;
    width: 26%;
    border-radius: 20px;
    background: #fff;
}

.pricing__item:hover {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing__item-type {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.pricing__item-heading {
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing__item-price {
    margin-top: 24px;
    color: var(--heading-color);
    font-family: Soras, sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03;
}

.pricing__item-btn {
    display: block;
    margin-top: 22px;
    min-width: 81%;
    height: 44px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
}

.pricing__item-btn--active {
    color: #fff;
    background: var(--primary-color);
}

.pricing__item--list {
    margin-top: 24px;
}

.pricing__item--item {
    display: flex;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.pricing__item--item::before {
    content: url(../icon/pricing-check.svg);
    margin-right: 12px;
}

.pricing__item--item + .pricing__item--item {
    margin-top: 18px;
}

/* ========= Reviews ========= */
.review {
    margin-top: 53px;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.review__control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--primary-color);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
}

.review__control:hover {
    color: #fff;
    background-color: var(--primary-color);
    box-shadow: 0px 5px 27px 0px rgba(255, 91, 46, 0.3);
}

.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
}

.review-item__media {
    position: relative;
    flex-shrink: 0;
    width: 274px;
    border-radius: 137px;
}

.review-item__media::after {
    position: absolute;
    inset: auto 0 0 0;
    content: "";
    display: block;
    width: 100%;
    height: 82%;
    border-radius: inherit;
    background: #ffda54;
}

.review-item__img {
    position: relative;
    display: block;
    width: 100%;
    border-radius: inherit;
    z-index: 1;
}

.review-item__quote {
    margin-top: 24px;
    width: 553px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55;
}

.review-item__author {
    display: inline-flex;
    align-items: center;
    margin-top: 34px;
    color: #282828;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.review-item__author::before {
    content: "";
    display: block;
    margin-right: 8px;
    margin-top: -3px;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background: #000;
}

/* Dots */
.review__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.review__dot {
    margin-top: 56px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.review__dot--active {
    width: 24px;
    border-radius: 4px;
    background: var(--primary-color);
}
